/*
css vars for colours
*/

/*
general colours
*/
:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-blue: #0000ff;
    --color-green: #33cc33;
    --color-yellow: #ffff00;
    --color-red: #ff0000;
    --color-orange: #ff6600;
    --color-purple: #cc3399;

    /*
    special colours

    these are non standard colours
    */
    --color-bloodOrange: #fc3d39; 

    /*
    specific colours

    these are specific colours for particular projects, project names are included in the var name
    */
    --neruoscriptBlue: #4597da;
}