/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;700&display=swap');
p {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  color: #272727;
}
hgroup {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  color: #272727;
}
a {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  text-decoration: none;
}
li {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}
/* multiple page styles */
body {
  margin: 0 !important;
}
button {
  padding: 1em 1.5em 1em 1.5em;
  background-color: whitesmoke;
  color: #272727;
  border: 2px solid #272727;
}
.pageContainer {
  width: 45%;
  margin: 0 auto;
}
.content {
  max-width: 35%;
  display: flex;
  margin: 0.5em 0.8em 1em 0.8em;
  border: 1px solid lightgray;
  box-shadow: 0 0 1px 1px lightgrey;
  padding: 1em;
  text-align: center;
}
/* index.vue */
.indexContent {
  width: 40%;
  display: flex;
  text-align: center;
  margin: 0 0 1em 0;
  padding: 1em 1em 1em 1em;
}
.indexContainer {
  width: 100%;
  background-color: whitesmoke;
}
.indexAnchor {
  width: 100%;
  display: flex;
  background-color: whitesmoke;
  font-size: 1.5em;
  justify-content: center;
}
/* highscores.vue */
.defaultResult {
  width: 100%;
  display: flex;
  text-align: center;
  padding: 0.2em 0.2em 0.2em 0.2em;
}
.hardcoreGroup {
  margin: 0.5em 0.25em 0.5em 0.25em !important;
  float: right !important;
}
.hardcoreButton {
  float: right !important;
}
.groupSizeButtons {
  width: 100% !important;
  display: flex;
}
.groupSizeButtons div {
  width: 65%;
  margin: 0 auto;
  float: none;
}
.groupSizeButtons button {
  width: 100%;
  margin: 0.2em 0.2em 0.2em 0.2em;
  font-size: 0.8em;
  background-color: whitesmoke;
  color: #272727;
}
.groupSizeButtons button:focus {
  background-color: #272727;
  color: whitesmoke;
}
.teamSizeContainers {
  width: 20% !important;
  float: left !important;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
/* bestiary.vue */
.bestiaryPage {
  display: flex;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.bestiaryCounters {
  display: flex;
  width: 50%;
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 1em;
}
.bestiaryOutput {
  display: flex;
  width: 100%;
  border: 1px solid black;
  padding: 1em 1em 1em 1em;
  text-align: center;
  overflow: auto;
  height: 55vh;
}
.entriesInformation {
  width: 100%;
  display: flex;
}
/* default.vue */
.defaultContent {

}
/* AppFooter.vue */
.footerNavbar {
  text-align: left;
  background-color: #272727;
  width: 100%;
  display: flex;
}
.footerCopyright {
  color: whitesmoke;
  padding: 1em;
  display: flex;
}
.footerLinks {
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: flex;
}
.footerLinks li {
  color: whitesmoke;
  text-decoration: none;
  padding: 0.2em 0.2em 0.2em 0.2em;
  list-style: none;
}
/* AppHeader.vue */
.headerNavbar {
  text-align: right;
  background-color: #272727;
  display: flex;
  width:100%;
  justify-content: flex-end;
}
.headerNavbar a {
  text-decoration: none;
  font-size: 1em;
  color: whitesmoke;
  padding: 1.5em 1.5em 1.5em 1.5em;
  float: right;
}
/* SearchResult.vue */
.searchResult {
  width: 100%;
  display: flex;
  text-align: left;
  overflow: auto;
  padding: 0.2em 0.2em 0.2em 0.2em;
}
.searchResult p {
  padding: 0 0 0 1em;
  text-align: center;
}
.highscoresTitle {
  text-align: center;
  padding: 0 0 0 0 !important;
  text-decoration: underline;
  line-height: 30px;
}
.playerMetrics {
  line-height: 30px;
  margin: 0.5em auto;
  width: 95%;
}
.highscoreTitles {
  float: right;
  width: 100%;
  padding: 0 2em 0 0;
}
.highscoreTitles p {
  float: right;
  text-align: center;
  max-width: 50%;
  min-width: 15%;
  padding: 0 0.5em 0 0.5em;
}
.highscoreTitles h4 {
  float: right;
  text-align: center;
  width: 15%;
  padding: 0 0.5em 0 0.5em;
  text-decoration: underline;
}
/* IndexSlideshow.vue */
.slideshow {
  display: flex;
  width: 100%;
  /* NOT NEEDED AFTER IMAGE CORRECTION */
  max-height: 850px;
  overflow: hidden;
}
.slideshow img {
  display: flex;
  width: 100%;
  /* REMOVE THIS ONCE IMAGE SIZES ARE FIXED */
  height: 850px;
}
/* REFACTOR THIS WHEN IMAGES ARE FIXED */
.slideshowContent {
  font-size: 2em;
  color: whitesmoke;
  position: absolute;
  width: 100%;
  text-align: center;
}
/* REFACTOR THIS WHEN IMAGES ARE FIXED */
.slideshowContent p {
  width: 45%;
  margin: 1em auto;
  padding: 1em 1em 1em 1em;
  text-align: justify;
}
/* REFACTOR THIS WHEN IMAGES ARE FIXED */
.slideshowButton {
  background-color: transparent;
  border-color: whitesmoke;
}
/* AnchorBlock.vue */
.conditionalButton {
  color: whitesmoke;
  background-color: #272727;
}
.anchorBlock {
  display: flex;
  width: 100%;
  padding: 1em 0 1em 0;
  margin: 0.5em 0 0.5em 0;
}
.anchorTitle {
  width: 50%;
}
.anchorData {
  width: 50%;
}
/* StatisticsBlock.vue */
.statisticsContainer {
  display: flex;
  justify-content: center;
}
.statisticsBlock {
  width: 45%;
  border: 2px solid #272727;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0.5em 0.2em 0.5em 0.2em;
}
.statisticsTitle {
  width: 100%;
  text-align: center;
}
.statisticsSubTitle {
  font-size: 0.5em;
  width: 100%;
  text-align: center;
}
.statisticsData {
  font-size: 2em;
  text-align: center;
  margin: 0;
}
/* Media Queries */
@media screen and (max-width: 1100px) {
  /* multiple page styles */
  .pageContainer {
    width: 60%;
    margin: 0 auto;
  }
  .content {
    max-width: 35%;
    display: flex;
    margin: 0.5em 0.8em 1em 0.8em;
    border: 1px solid lightgray;
    box-shadow: 0 0 1px 1px lightgrey;
    padding: 1em;
    text-align: center;
  }
  .blockIcon {
    display: flex;
    width: 100%;
    padding: 0 0 0.5em 0;
  }
  .blockContent {
    font-size: 1em;
  }
  .blockContent b {
    font-size: 1.5em;
  }
  /* highscores.vue */
  .playerSearch {
    width: 50%;
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
  .clearButton {
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 20%;
  }
  /* index.vue */
  .indexContent {
    width: 46%;
  }
  /* StatisticsBlock.vue */
  .statisticsBlock {
    width: 35%;
    border: 1px solid #272727;
    display: flex;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
  }
}
