/*
file for global var styles
does not include colours, colour vars are located in colours.css
*/

:root {
    /* 
    padding vars 
    */
    --padding-xs: 0.25em;
    --padding-sm: 0.5em;
    --padding-md: 1em;
    --padding-lg: 1.5em;
    --padding-xl: 2.5em;

    /* 
    margin vars 
    */
    --margin-xs: 0.25em;
    --margin-sm: 0.5em;
    --margin-md: 1em;
    --margin-lg: 1.5em;
    --margin-xl: 2.5em;

    /* 
    font vars 
    */

    /* 
    border vars 
    */
    --solid-sm: 1px solid;
    --solid-md: 2px solid;
    --solid-lg: 3px solid;
    --solid-xl: 5px solid;

    --double-sm: 1px double;
    --double-md: 2px double;
    --double-lg: 3px double;
    --double-xl: 5px double;

    --dotted-sm: 1px dotted;
    --dotted-md: 2px dotted;
    --dotted-lg: 3px dotted;
    --dotted-xl: 5px dotted;

    --dashed-sm: 1px dashed;
    --dashed-md: 2px dashed;
    --dashed-lg: 3px dashed;
    --dashed-xl: 5px dashed;

    /* 
    text vars 
    */
}
