/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;700&display=swap');
p {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  color: #272727;
}
hgroup {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  color: #272727;
}
a {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  text-decoration: none;
}
li {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}
/* multiple page styles */
body {
  margin: 0 !important;
}
button {
  padding: 1em 1.5em 1em 1.5em;
  background-color: whitesmoke;
  color: #272727;
  border: 2px solid #272727;
}
.fullWidthContainer {
  width: 100%;
  float: left;
  background-color: whitesmoke;
}
.pageContainer {
  width: 35%;
  margin: 0 auto;
}
.content {
  max-width: 35%;
  float: left;
  margin: 0.5em 0.8em 1em 0.8em;
  border: 1px solid lightgray;
  box-shadow: 0 0 1px 1px lightgrey;
  padding: 1em;
  text-align: center;
}
/* index.vue */
.indexPage {
  float: left;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.playerCount {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding: 1em 0 0 0;
  float: left;
  width: 100%;
}
.playerCount div {
  border: 2px solid #272727;
  margin: 0 auto 1em auto;
  width: 45%;
  padding: 0.5em 0 0.5em 0;
}
.playerCount p {
 width: 100%;
 margin: 0;
}
.playerCount p b {
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0.5em 0 0.5em 0;
  color: #272727;
}
.indexContent {
  width: 40%;
  float: left;
  text-align: center;
  margin: 0 0 1em 0;
  padding: 1em 1em 1em 1em;
}
.indexContainer {
  width: 60%;
  margin: 0 auto;
  background-color: whitesmoke;
  height: 100%;
}
.indexAnchor {
  width: 100%;
  float: left;
  background-color: whitesmoke;
  font-size: 1.5em;
}
/* highscores.vue */
.highscoresPage {
  float: left;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.playerSearch {
  padding: 1em 1em 1em 1em;
  margin: 2em 0.5em 1.5em 0;
  width: 58%;
  float: left;
}
.searchButton {
  padding: 1em 1.5em 1em 1.5em;
  margin: 2em 0 1.5em 0em;
  float: left;
}
.clearButton {
  padding: 1em 1.5em 1em 1.5em;
  margin: 2em 0 1.5em 0;
  float: right;
}
.defaultResult {
  width: 100%;
  float: left;
  text-align: center;
  padding: 0.2em 0.2em 0.2em 0.2em;
}
.alternateSearches {
  padding: 0.5em 0 1em 0;
  float: left;
  width: 100%;
  padding: 0.2em 0.2em 0.2em 0.2em;
}
.alternateSearches button {
  color: black;
  width: 100%;
  float: left;
  background-color: white;
  border-color: white;
  font-size: 0.8em;
  border-style: solid;
}
.alternateButton {
  float: left;
  width: 32%;
  padding: 0.2em 0.1em 0.2em 0.1em;
}
.searchContainer {
  padding: 0.2em 0.2em 0.2em 0.2em;
  width: 100%;
  float: left;
}
/* bestiary.vue */
.bestiaryPage {
  float: left;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.bestiaryCounters {
  float: left;
  width: 50%;
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 1em;
}
.bestiaryOutput {
  float: left;
  width: 100%;
  border: 1px solid black;
  padding: 1em 1em 1em 1em;
  text-align: center;
  overflow: auto;
  height: 55vh;
}
.entriesInformation {
  width: 100%;
  float: left;
}
/* default.vue */
.defaultContent {
  padding-top: 50px;
}
/* AppFooter.vue */
.footerNavbar {
  text-align: left;
  background-color: #272727;
  width: 100%;
  float: left;
}
.footerCopyright {
  color: whitesmoke;
  padding: 1em;
  float: left;
}
.footerLinks {
  padding: 0.5em 0.5em 0.5em 0.5em;
  float: left;
}
.footerLinks li {
  color: whitesmoke;
  text-decoration: none;
  padding: 0.2em 0.2em 0.2em 0.2em;
  list-style: none;
}
/* AppHeader.vue */
.headerNavbar {
  text-align: right;
  background-color: #272727;
  float: left;
  width:100%;
}
.headerNavbar a {
  text-decoration: none;
  font-size: 1em;
  color: whitesmoke;
  padding: 1.5em 1.5em 1.5em 1.5em;
  float: right;
}
/* SearchResult.vue */
.searchResult {
  width: 100%;
  float: left;
  text-align: left;
  overflow: auto;
  padding: 0.2em 0.2em 0.2em 0.2em;
}
.searchResult p {
  padding: 0 0 0 1em;
  text-align: center;
}
.highscoresTitle {
  text-align: center;
  padding: 0 0 0 0 !important;
  text-decoration: underline;
  line-height: 30px;
}
.playerMetrics {
  line-height: 30px;
  margin: 0.5em auto;
  width: 95%;
}
.highscoreTitles {
  float: right;
  width: 100%;
  padding: 0 2em 0 0;
}
.highscoreTitles p {
  float: right;
  text-align: center;
  max-width: 50%;
  min-width: 15%;
  padding: 0 0.5em 0 0.5em;
}
.highscoreTitles h4 {
  float: right;
  text-align: center;
  width: 15%;
  padding: 0 0.5em 0 0.5em;
  text-decoration: underline;
}
/* IndexSlideshow.vue */
.slideshow {
  float: left;
  width: 100%;
  /* NOT NEEDED AFTER IMAGE CORRECTION */
  max-height: 850px;
  overflow: hidden;
}
.slideshow img {
  float: left;
  width: 100%;
  /* REMOVE THIS ONCE IMAGE SIZES ARE FIXED */
  height: 850px;
}
/* REFACTOR THIS WHEN IMAGES ARE FIXED */
.slideshowContent {
  font-size: 2em;
  color: whitesmoke;
  position: absolute;
  width: 100%;
  text-align: center;
}
/* REFACTOR THIS WHEN IMAGES ARE FIXED */
.slideshowContent p {
  width: 45%;
  margin: 1em auto;
  padding: 1em 1em 1em 1em;
  text-align: justify;
}
/* REFACTOR THIS WHEN IMAGES ARE FIXED */
.slideshowButton {
  background-color: transparent;
  border-color: whitesmoke;
}
/* AnchorBlock.vue */
.conditionalButton {
  color: whitesmoke;
  background-color: #272727;
}
.anchorBlock {
  float: left;
  width: 100%;
  padding: 1em 0 1em 0;
  margin: 0.5em 0 0.5em 0;
}
.anchorTitle {
  width: 50%;
}
.anchorData {
  width: 50%;
}
/* StatisticsBlock.vue */
.statisticsBlock {
  width: 45%;
  border: 1px solid #272727;
  float: left;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0.5em 0.2em 0.5em 0.2em;
}
.statisticsTitle {
  width: 100%;
  text-align: center;
}
.statisticsSubTitle {
  font-size: 0.5em;
  width: 100%;
  text-align: center;
}
.statisticsData {
  font-size: 2em;
  text-align: center;
  margin: 0;
}
/* Media Queries */
@media screen and (max-width: 1100px) {
  /* multiple page styles */
  .pageContainer {
    width: 35%;
    margin: 0 auto;
  }
  .content {
    max-width: 35%;
    float: left;
    margin: 0.5em 0.8em 1em 0.8em;
    border: 1px solid lightgray;
    box-shadow: 0 0 1px 1px lightgrey;
    padding: 1em;
    text-align: center;
  }
  .blockIcon {
    float: left;
    width: 100%;
    padding: 0 0 0.5em 0;
  }
  .blockContent {
    font-size: 1em;
  }
  .blockContent b {
    font-size: 1.5em;
  }
  /* highscores.vue */
  .playerSearch {
    width: 50%;
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
  .searchButton {
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 20%;
  }
  .clearButton {
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 20%;
  }
  /* index.vue */
  .indexContent {
    width: 46%;
  }
  /* StatisticsBlock.vue */
  .statisticsBlock {
    width: 35%;
    border: 1px solid #272727;
    float: left;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
  }
}
