/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;700&display=swap');
p {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}
hgroup {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}
a {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}
/* multiple page styles */
button {
  padding: 1em 1.5em 1em 1.5em;
  background-color: steelblue;
  color: whitesmoke;
  border-radius: 5px;
}
.pageContainer {
  width: 35%;
  margin: 0 auto;
}
.content {
  max-width: 35%;
  float: left;
  margin: 0.5em 0.8em 1em 0.8em;
  border: 1px solid lightgray;
  box-shadow: 0 0 1px 1px lightgrey;
  padding: 1em;
  text-align: center;
}
.blockIcon {
  float: left;
  padding: 1em;
}
.blockContent {
  font-size: 1em;
}
.blockContent b {
  font-size: 1.5em;
}
.blockButton {
  width: 65%;
}
/* index.vue */
.playerCount {
  text-align: center;
  font-size: 1.5em;
  padding-top: 0.5em;
}
.indexContent {
  width: 47%;
  float: left;
  text-align: center;
  margin: 0 0 1em 0;
  padding: 1em 1em 1em 1em;
}
.indexContainer {
  width: 85%;
  margin: 0 auto;
}
.indexBlockImage {
  margin: 0.5em 0.5em 0.5em 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  float: left;
  width: 40%;
}
.indexBlockDescription {
  float: left;
  width: 50%;
  margin: 0.5em 0 0.5em 0;
}
.indexBlockLink {
  width: 50%;
  float: left;
  margin: 0.5em 0 0.5em 0;
}
.border {
  margin: 1em 1em 1em 1em;
  background-color: whitesmoke;
  border-radius: 8px;
  float: left;
  width: 94%;
}
/* highscores.vue */
.playerSearch {
  padding: 1em 1em 1em 1em;
  margin: 2em 0 1.5em 0;
  width: 58%;
  float: left;
}
.searchButton {
  padding: 1em 1.5em 1em 1.5em;
  margin: 2em 0 1.5em 0.6em;
  float: left;
}
.clearButton {
  padding: 1em 1.5em 1em 1.5em;
  margin: 2em 0 1.5em 0;
  float: right;
}
.defaultResult {
  width: 100%;
  box-shadow: 0 0 2px 2px lightgrey;
  border-radius: 5px;
  height: 450px;
  float: left;
  text-align: center;
}
/* beastiary.vue */
.beastiaryCounters {
  float: left;
  width: 50%;
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 1em;
}
.beastiaryOutput {
  float: left;
  width: 100%;
  border: 1px solid black;
  padding: 1em 1em 1em 1em;
  text-align: center;
  overflow: auto;
  height: 55vh;
}
.entriesInformation {
  width: 100%;
  float: left;
}
/* default.vue */
.defaultContent {
  padding-top: 50px;
}
/* AppFooter.vue */
.footerNavbar {
  text-align: left;
  background-color: steelblue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  float: left;
}
.footerCopyright {
  color: whitesmoke;
  padding: 1em;
  float: left;
}
/* AppHeader.vue */
.headerNavbar {
  text-align: right;
  background-color: steelblue;
  float: left;
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
}
.headerNavbar a {
  text-decoration: none;
  font-size: 0.8em;
  color: whitesmoke;
  padding: 2em 1.5em 2em 1.5em;
  float: right;
}
/* SearchResult.vue */
.searchResult {
  width: 100%;
  box-shadow: 0 0 2px 2px lightgrey;
  border-radius: 5px;
  height: 450px;
  float: left;
  text-align: left;
  overflow: auto;
}
.searchResult p {
  padding: 0 0 0 1em;
  text-align: center;
}
.highscoresTitle {
  text-align: center;
  padding: 0 0 0 0 !important;
  text-decoration: underline;
  line-height: 30px;
}
.playerMetrics {
  line-height: 30px;
  margin: 0.5em auto;
  width: 95%;
}
.highscoreTitles {
  float: right;
  width: 100%;
  padding: 0 2em 0 0;
}
.highscoreTitles p {
  float: right;
  text-align: center;
  max-width: 50%;
  min-width: 15%;
  padding: 0 0.5em 0 0.5em;
}
.highscoreTitles h4 {
  float: right;
  text-align: center;
  width: 15%;
  padding: 0 0.5em 0 0.5em;
  text-decoration: underline;
}

/* Media Queries */
/* Desktop + */
@media screen and (min-width: 1025px) {
  /* multiple page styles */
  .pageContainer {
    width: 35%;
    margin: 0 auto;
  }
  .content {
    max-width: 35%;
    float: left;
    margin: 0.5em 0.8em 1em 0.8em;
    border: 1px solid lightgray;
    box-shadow: 0 0 1px 1px lightgrey;
    padding: 1em;
    text-align: center;
  }
  .blockIcon {
    float: left;
    width: 100%;
    padding: 0 0 0.5em 0;
  }
  .blockContent {
    font-size: 1em;
  }
  .blockContent b {
    font-size: 1.5em;
  }
}
